*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 237, 245);
  background: radial-gradient(circle, rgb(255, 234, 117) 0%, rgb(255, 168, 68) 100%);
}

h1 {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: 'Russo one', Arial, sans-serif;
  text-decoration: underline;
  border: 2px dashed rgba(31, 30, 30, 0.883);;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  color: rgba(31, 30, 30, 0.883);
}

.container {
  margin: 50px auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question {
  transition: 0.5s;
  flex-basis: 45%;
  margin: 30px auto;
  width: 25%;
  padding: 20px;
  border-radius: 0 10px 0 10px;
  box-shadow: 10px 10px 10px 0px rgba(176,170,170,0.5);
  border: 1px lightgray solid;
  background-color: white;
}

.question span {
  text-decoration: underline;
  font-weight: 700;
}

label {
  display: block;
  margin-top: 10px;
}

.result {
  margin: auto;
  text-align: center;
  font-family: 'Russo one', Arial, sans-serif;
  font-size: 22px;
}
.button-container {
  text-align: center;
  margin: 30px auto;
}

button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  color: rgb(78, 68, 68);
}

button:hover {
  transition: .5;
  background-color: rgba(31, 30, 30, 0.883);
  color: white;
  cursor: pointer;
}